{% import 'DakInfoScreenBundle::macros.html.twig' as m %}


<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>{% block title %}The Title Of Your Presentation{% endblock %}</title>

  <!-- Default Style -->
  <link rel="stylesheet" type="text/css" href="{{ m.bAsset('css/default.css') }}" />

  <!-- Your Style -->
  <!-- Define the style of you presentation -->

  <!-- Maybe a font from http://www.google.com/webfonts ? -->
  <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet'>

  <link rel="stylesheet" type="text/css" href="{{ m.bAsset('css/style.css') }}" />

  {% for moduleName, module in slideModules %}
    {% for stylesheet in module.style %}
      <link rel="stylesheet" type="text/css" href="{{ asset(module.directory ~ '/' ~ stylesheet) }}" />
    {% endfor %}
  {% endfor %}

  <style type="text/css">

  {% for slide in slideData.slides %}

   {{ slide.css | raw }}

  {% endfor %}

  </style>
 </head>
 <body id="slides" data-default-slide-duration="{{ slideData.defaultSlideDuration | default(5000) }}" class="{{ screenType | default() }}" data-scaling-allowed="{{ scalingAllowed | default('true') }}">
  <!-- Your Slides -->
  <!-- One section is one slide -->

  {% for slide in slideData.slides %}

   {{ slide.content | raw }}

  {% else %}

   <section>
    <h1>Example slide.</h1>
    <h2>Please put up some slides :)</h2>
   </section>

  {% endfor %}

  {% if testRun|default(false) %}
    <div class="dakInfoScreenTestRun">
      <span>This is just a test run! <br />Please use the assigned screen.</span>
    </div>
  {% endif %}


  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script type="text/javascript" src="{{ m.bAsset('js/jquery.tmpl.min.js') }}"></script>

  <script type="text/javascript" src="{{ m.bAsset('js/controls.js') }}"></script>
  <script type="text/javascript" src="{{ m.bAsset('js/slideControls.js') }}"></script>

  <!-- Extra modules -->

  {% for moduleName, module in slideModules %}
    {% for script in module.script %}
      <script type="text/javascript" src="{{ asset(module.directory ~ '/' ~ script) }}"></script>
    {% endfor %}
  {% endfor %}

  <script type="text/javascript">
   var checkReloadUrl = "{{ checkReloadUrl|default() }}";

   var moduleUrl = {
   {% for moduleName, module in slideModules %}
     "{{ moduleName }}" : "{{ asset(module.directory ~ '/') }}",
   {% endfor %}   
   };

   {% for moduleName, module in slideModules %}
     {% if module.reference %}
       slideControl.registerModule({{ module.reference }});
     {% else %}
       slideControl.registerModule({{ moduleName }});
     {% endif %}
   {% endfor %}

  </script>

  <script type="text/javascript" src="{{m.bAsset('js/app.js') }}"></script>
 </body>
</html>
