{% extends '::base.html.twig' %}
{% block title %}SlideSource edit{% endblock %}

{% import 'DakInfoScreenBundle::formMacros.html.twig' as f %}

{% block body %}
<h1>SlideSource edit</h1>

<form class="slideForm" action="{{ path('slidesource_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>

    {{ form_errors(edit_form) }}

	<table>
      {{ f.form_row(edit_form.name) }}
	  {{ f.form_row(edit_form.content, null, {'cols': 60, 'rows': 10}) }}
      {{ f.form_row(edit_form.extraCss, "Extra CSS", {'cols': 60, 'rows': 10}) }}
	</table>

    {{ form_rest(edit_form) }}
    <p>
        <button type="submit">Edit</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('slidesource') }}">
            Back to the list
        </a>
    </li>
    <li>
        <form action="{{ path('slidesource_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>

{% include 'DakInfoScreenBundle:SlideSource:samplecode.html.twig' %}

{% endblock %}
