{% extends '::base.html.twig' %}
{% block title %}SlideSource list{% endblock %}

{% block body %}
<h1>SlideSource list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Name</th>
            <th>Updated at</th>
            <th>Attached screens</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('slidesource_edit', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
            <td>{{ entity.updatedAt | date }}</td>
            <td>
             {% for screen in entity.screens %}
               <a href="{{ url('screen_show', {'id' : screen.id}) }}">{{ screen }}</a>,
             {% else %}
               No screens attached.
             {% endfor %}
            </td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('slidesource_run', { 'id': entity.id }) }}">test run</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('slidesource_new') }}">
            Create a new slideshow
        </a>
    </li>
</ul>
{% endblock %}
