{% extends '::base.html.twig' %}

{% block title %}SlideSource creation{% endblock %}

{% import 'DakInfoScreenBundle::macros.html.twig' as m %}
{% import 'DakInfoScreenBundle::formMacros.html.twig' as f %}

{% block stylesheets %}
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css" />

{% for moduleName, module in slideModules %}
  {% if module.editor.style is defined %}
    {% for s in module.editor.style %}
      <link rel="stylesheet" href="{{ asset(module.directory ~ '/' ~ s) }}" />
	{% endfor %}
  {% endif %}
{% endfor %}

<style type="text/css">

/* clearfix */
/* For modern browsers */
.cf:before,
.cf:after {
	content:"";
	display:table;
}

.cf:after {
	clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.cf {
	zoom:1;
}


#contentContainer > li {
  border: 2px solid #000;
  margin: 0.2em;
}

#contentContainer > li > .canvas {
  min-height: 30px;
  background-color: #0af;
}

#contentContainer > li > .toolbar ul {
  padding: 0;
}

#contentContainer > li > .toolbar ul.left {
  float: left;
}

#contentContainer > li > .toolbar ul.right {
  float: right;
}

#contentContainer > li > .toolbar ul > li {
  display: inline-block;
  margin: 0.2em;
  padding: 0.2em;
}


#contentContainer > li > .toolbar .toggled {
  background-color: #af0;
}
  </style>

{% endblock %}

{% block javascripts %}

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>

  <script type="text/javascript" src="{{ m.bAsset('js/editor.js') }}"></script>

{% for moduleName, module in slideModules %}
  {% if module.editor.script is defined %}
    {% for s in module.editor.script %}
      <script type="text/javascript" src="{{ asset(module.directory ~ '/' ~ s) }}" ></script>
	{% endfor %}
  {% endif %}
{% endfor %}

<script type="text/javascript">

var slideData = {
  "defaultSlideDuration" : 8000,
  "slides" : {}
};

jQuery(document).ready(function() {

	dakSlideshowEditor.init(slideData, {
		"form" : "slideForm",
		"content" : "content"
	}
	);

	//dakSlideshowEditor.addSlide();
});

</script>

{% endblock %}

{% block body %}
<h1>SlideSource creation</h1>

<form class="slideForm" id="slideForm" action="{{ path('slidesource_create') }}" method="post" {{ form_enctype(form) }}>

    <table>
      {{ f.form_row(form.name) }}
	  {# f.form_row(edit_form.content, null, {'cols': 90, 'rows': 12}) #}
      {# f.form_row(edit_form.extraCss, "Extra CSS", {'cols': 90, 'rows': 12}) #}

      {{ form_widget(form.content, {'id': 'content'}) }}
	</table>

    <label for="defaultSlideDuration">Default slide duration: <input type="text" id="defaultSlideDuration" /></label><br />

   <ul id="newSlideButtons"></ul>
   <button type="button" id="minimiseMaximiseAll">Minimise all</button>

   <ol id="contentContainer"></ol>

    {{ form_widget(form.content, {'id': 'content'}) }}
    {{ form_rest(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('slidesource') }}">
            Back to the list
        </a>
    </li>
</ul>

{# include 'DakInfoScreenBundle:SlideSource:samplecode.html.twig' #}

{% endblock %}


