{% extends '::base.html.twig' %}
{% block title %}Screen list{% endblock %}

{% block body %}
<h1>Screen list</h1>

<p>
 <strong>Last forced screen reload:</strong> {{ forceReload | default(0) | date }}.
 <a href="{{ path('screen_force_reload') }}">Force new screen reload.</a>
</p>

<table class="records_list">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Slide Source</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('screen_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
            <td>{{ entity.description }}</td>
            <td><a href="{{ path('slidesource_show', {'id' : entity.slideSource.id }) }}">{{ entity.slideSource }}</a></td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('screen_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('screen_run', { 'id': entity.id }) }}">run</a>
                    </li>

                    <li>
                        <a href="{{ path('screen_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('screen_new') }}">
            Create a new entry
        </a>
    </li>
</ul>

{% endblock %}
